<div class="container">

  <div class="sticky">
    <div class="panel">
      <ul>
        <li *ngFor="let section of sections"><a routerLink="." [fragment]="section.title" [class.active]="selectedSection.title === section.title">{{ section.title }}</a></li>
      </ul>
    </div>
  </div>


  <div class="content">
    <div class="bloc-container">
      <div *ngFor="let section of sections" class="bloc" [class.active]="selectedSection.title === section.title" [id]="section.title">
        <a class="title">{{ section.title }}</a>
        <hr>
        
        <ng-container [ngSwitch]="section.title">

          <!-- OBSERVABLE -->

          <ng-container *ngSwitchCase="'OBSERVABLE'">
            <p>
              Un observable est un <b>flux de données</b> auquel on peut <b>s'abonner</b> pour écouter les changements de données.
              <br>
              <br>
              Par exemple en Angular, <b>tous les appels HTTP</b> retourne des <b>observables</b>.
            </p>

            <pre><code [highlight]="section.codeBlocs['exemple']"></code></pre>

            <p>Pour écouter les changements de données, on <b>s'abonne</b> à l'observable de la manière suivante</p>

            <pre><code [highlight]="section.codeBlocs['subscribe']"></code></pre>

            <p>
              Dans l'exemple ci dessus, à chaque fois que notre API nous répondra, nous loggerons le nombre d'utilisateurs retourné par l'API.
              <br>
              <br>
              <b>A noter</b>, tant qu'on ne s'abonne pas à notre observable via <b>subscribe</b>, il ne se passe rien ! L'appel à httpClient n'est pas éxécuté.
            </p>

          </ng-container>

          <!-- SUBJECT -->

          <ng-container *ngSwitchCase="'SUBJECT'">
            <p>
              Un <b>Subject</b> est un observable, on peut s'y abonner pour écouter les changements de données.
              <br>
              <br>
              La différence avec l'observable vient du fait qu'on peut également <b>émettre</b> dans un <b>Subject</b> avec la méthode <b>next</b>.
            </p>

            <pre><code [highlight]="section.codeBlocs['exemple']"></code></pre>

            <p>Je vous propose de tester l'abonnement au dessus en éxecutant le code suivant</p>

            <pre><code [highlight]="section.codeBlocs['essayer']"></code></pre>

            <app-try-bloc [section]="section" [active]="section.title === selectedSection.title" (try)="tryIt(section)" (reset)="reset(section)"></app-try-bloc>

            <p>
              A noter:
            </p>
            <ul>
              <li><a>par convention, on suffixe les <b>variables</b> liées à des observables avec un <b>$</b>.</a></li>
              <li><a>pour que le code d'un subscribe soit exécuté, la souscription doit être déclarée <b>avant</b> l'émission de la donnée via <b>next</b>.</a></li>
            </ul>

          </ng-container>

          <!-- BEHAVIOR SUBJECT -->

          <ng-container *ngSwitchCase="'BEHAVIOR SUBJECT'">

            <p>
              Le <b>BehaviorSubject</b> est un <b>Subject</b> qu'on initialise <b>obligatoirement</b> avec une <b>valeur par défaut</b>.
            </p>

            <pre><code [highlight]="section.codeBlocs['exemple']"></code></pre>

            <p>
              L'intérêt par rapport au subject est de fournir une <b>valeur par défaut</b> à n'importe quel abonné, <b>émise automatiquement</b> lors de l'abonnement.
            </p>

            <pre><code [highlight]="section.codeBlocs['exemple2']"></code></pre>
            <pre><code [highlight]="section.codeBlocs['exemple3']"></code></pre>

            <app-try-bloc [section]="section" [active]="section.title === selectedSection.title" (try)="tryIt(section)" (reset)="reset(section)"></app-try-bloc>

            <p>
              Si vous exécutez le code ci-dessus, vous aurez directement '<b>0 utilisateurs</b>' dans la console <b> alors que nous n'avons pas effecuté de <b>next</b> sur userCount$</b>, c'est la spécificité du <b>BehaviorSubject</b>.
              <br>
              <br>
              <b>A noter</b>, à chaque fois que vous éxécutez ce code, vous créez une nouvelle souscription, qui reçoit directement la valeur 0 et la log.
            </p>

          </ng-container>

          <!-- SUBSCRIBE -->

          <ng-container *ngSwitchCase="'SUBSCRIBE'">
            <p>
              La fonction <b>subscribe</b> permet de s'abonner à un observable et effectuer des actions lorsque la valeur contenue dans l'observable change.
              <br>
              <br>
              Lorsqu'on s'abonne à un observable, celui-ci ajoute un objet <b>subscription</b> à son tableau d'abonnement. Ainsi, lorsqu'on une valeur sera émise dans l'observable,
              celui-ci sera capable de notifier chaque abonné qu'une nouvelle valeur à été émise.
              <br>
              <br>
              <b>Attention !</b>
              <br>
              <br>
              Si vous appelez plusieurs fois <b>subscribe</b> sur un observable, vous exécuterez <b>plusieurs fois</b> le traitement dans le subscribe !
            </p>
            <pre><code [highlight]="section.codeBlocs['essayer']"></code></pre>

            <app-try-bloc [section]="section" [active]="section.title === selectedSection.title" (try)="tryIt(section)" (reset)="reset(section)"></app-try-bloc>

            <p>
              Si vous cliquez plusieurs fois sur essayer, vous remarquez que le log s'effectue plusieurs fois, c'est parce qu'on <b>recrée une souscription</b> à chaque fois !
            </p>
            
          </ng-container>

          <!-- PIPE -->

          <ng-container *ngSwitchCase="'PIPE'">
            <p>
              Le <b>pipe</b> est une fonction particulière des observables qui nous permet de <b>manipuler le flux en amont des abonnements</b>.
              <br>
              <br>
              En d'autre terme, utiliser un pipe revient à créer un canal entre l'émission d'une donnée et la réception de celle ci dans les subscribes.
              <br>
              <br>
              C'est <b>extrêmement utile</b> car ça nous permet de gérer différemment les données issue d'un observable en fonction de ce qu'on en fait.
              <br>
              <br>
              On peut par exemple <b>filtrer</b> la donnée pour n'être notifié que dans certains cas, ne récupérer que les N premières émissions, délayer la réception, etc...
              <br>
              <br>
              Exemple d'utilisation d'un pipe pour introduire un délai d'une seconde entre le moment où on ajoute un utilisateur et le moment où on l'affiche.
            </p>

            <pre><code [highlight]="section.codeBlocs['exemple']"></code></pre>
            <pre><code [highlight]="section.codeBlocs['essayer']"></code></pre>

            <app-try-bloc [section]="section" [active]="section.title === selectedSection.title" (try)="tryIt(section)" (reset)="reset(section)"></app-try-bloc>

            <p>
              <b>A noter:</b> 
            </p>
            <ul>
              <li><a>la fonction delay est ce qu'on nomme un <b>operateurs rxjs</b>. Il en existe une centaine mais nous ne décrirons que les plus utilisés.</a></li>
              <li><a>il est possible de passer <b>autant d'opérateurs que l'on souhaite</b> dans la fonction pipe en les séparant par des virgules, mais attention, il s'exécute les uns après les autres.</a></li>
              <li><a>tous les operateurs sont disponibles <a class="link" href="https://rxjs.dev/api/operators" target="_blank">ici</a>.</a></li>
            </ul>

          </ng-container>

          <!-- TAKE -->

          <ng-container *ngSwitchCase="'TAKE'">
            <p>
              L'opérateur <b>take</b>(count: <b>number</b>) permet de ne récupérer que les count premières valeurs émises dans l'observable.
            </p>

            <pre><code [highlight]="section.codeBlocs['exemple']"></code></pre>
            <pre><code [highlight]="section.codeBlocs['essayer']"></code></pre>

            <app-try-bloc [section]="section" [active]="section.title === selectedSection.title" (try)="tryIt(section)" (reset)="reset(section)"></app-try-bloc>

          </ng-container>

          

          <ng-container *ngSwitchCase="''">
            <p>
            
            </p>
            <pre><code [highlight]="section.codeBlocs['exemple']"></code></pre>
          </ng-container>

        </ng-container>

      </div>
    </div>
  </div>

</div>